<div class="relative w-full max-w-[1440px] mx-auto h-96 lg:h-[560px] bg-white">
    <swiper-container
        style="--swiper-navigation-color:#009688;--swiper-pagination-color:var(--swiper-navigation-color)" 
        class="absolute top-0 left-0 flex w-full h-full" 
        slides-per-view="1"
        navigation="true"
        pagination="true"
        autoplay="true"
        speed="800"
        loop="true" 
        *ngIf="isVisible | async">
        <swiper-slide><img class="w-full h-full object-cover" src="/assets/imgs/cover1.jpg" alt=""></swiper-slide>
        <swiper-slide><img class="w-full h-full object-cover" src="/assets/imgs/cover2.jpg" alt=""></swiper-slide>
        <swiper-slide><img class="w-full h-full object-cover" src="/assets/imgs/cover3.jpg" alt=""></swiper-slide>
    </swiper-container>
    <button class="swiper-button-next -z-20"></button>
</div>
